*.env
**/venv/

*.py[cod]

**/.idea

**/static/admin
**/static/rest_framework
**/static/assets/images
**/media/

**/*.sqlite3

celerybeat-schedule

.coverage
**/files/ffmpeg
**/files/analytic_dir

**/RepackingApp/services/analytic_converter.py

docker-compose.test.local.yml
docker-compose.test-dev.local.yml