*.env
**/venv/

*.py[cod]

**/.idea

**/migrations/**
!**/migrations
!**/migrations/__init__.py

**/static/assets/images
**/static/assets/css/style.css
**/media/
main.py
mainLimitRequest.py
**/*.sqlite3

celerybeat-schedule

.coverage