

@media (min-width:880px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        overflow: hidden;
    }
    .site-header {
        width: 1100px;
    }
    .site-footer {
        width: 1100px;
    }
    .container {
        flex: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        min-height: 0;
    }
    .app {
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin: 28px auto;
        padding-bottom:50px
    }
    .app-content {
        padding-top: 30px;
    }
    .layout {
        flex: 1;
        overflow: hidden;
    }
    .main-page {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .rooms {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
    .rooms-list-12{
        flex: 1;
        overflow-y: auto;
    }
    .panel {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
    .list-12 {
        flex: 1;
        overflow: auto;
    }
    .site-footer {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}