{% extends 'base.html' %}

{% load static %}

{% block title %}Восстановление пароля — {{ website_name }}{% endblock %}

{% block extrastyle %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}">
{% endblock %}

{% block content %}
  <div class="auth-layout">
    <div class="auth-card">
      <button class="theme-toggle" id="themeToggle" title="Сменить тему">🌙</button>


      <form id="emailForm" method="POST" class="step" action="{% url 'forgot-password' %}">
        {% csrf_token %}

        <h1>Восстановление пароля</h1>
        <p class="help">Пожалуйста введите ваш email адрес, чтобы получить код верификации.</p>

        {% for item in form %}
          <div class="form-group">
            <label for="{{ item.id_for_label }}">{{ item.label }}</label>
            <input
                type="{{ item.field.widget.input_type }}"
                name="{{item.name}}"
                id="{{ item.id_for_label }}"
                placeholder="{{item.field.widget.attrs.placeholder}}"
                value="{% if item.field.widget.input_type != 'password' %}{{item.value|default_if_none:''}}{% else %}{% endif %}"
                {% if item.errors %}class="invalid-input"{% endif %}
            >
            <div class="invalid-feedback">
              {% if item.errors %}
                {% for error in item.errors %}
                  {{error}}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="invalid-feedback d-block">
              {% for error in form.non_field_errors %}
                  {{ error }}
              {% endfor %}
          </div>
        {% endif %}
        <button type="submit" class="btn">Продолжить</button>
      </form>

      <a href="{% url 'login' %}" class="link">Вернуться на страницу входа</a>
    </div>
  </div>

{% endblock %}

